body#index {
  background: lightblue;
}
body#tribute {
  background: #f0e68c;
}
body#drawing {
  background: #ffb6C1;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
h1 {
  text-align: center;
  font-family: verdana;
  font-size: 2.5em;
  text-shadow: grey 2px 2px;
}
p#motogp-caption {
  position: relative;
  left: 175px;
  bottom: 40px;
  font-weight: bold;
}
p#nicky-caption {
  position: relative;
  left: 400px;
  bottom: 35px;
  font-weight: bold;
}